<div class="container">
  <h1>Saved Events</h1>
  {{#if savedEvents.length}}
    <ul class="event-list">
      {{#each savedEvents}}
        <li class="event-item">
          <h2>{{this.name}}</h2>
          <p>Date: {{format_date this.startDate}}</p>
          <p>Time: {{format_time this.startTime}}</p>
          <p>Venue: {{this.venue}}</p>
          <a href="{{this.url}}" target="_blank">View Details</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No saved events found.</p>
  {{/if}}
</div>